extendes layout 

h1 submit content
form(action="/submition" method="post" )
	lable title
	input(type="text", name="title", placeholder="author")
	lable author
	input(type="text", name="author", placeholder="author")
	lable content
	input(type="text", name="content", placeholder="content")
	lable source url 
	input(type="text", name="src", placeholder="source")
